/* .verifyOtpMainContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: grid;
    place-items: center;
} */
.verifyOtpContainer{
    width: 100vw;
    height: 99vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-family: 'Poppins';
}
.verifyOtpImageSection{
    width: 100%;
    height: 100%;
    background:linear-gradient(#2EBF91,#8360C3);
    display: grid;
    place-items: center;

}
.verifyOtpImageSection-1{
    width: 80%;
    height: 90%;
    background-color: rebeccapurple;
    border-radius: 5px;
    background-color: #37697A;
   display: grid;
   place-items: center;
}
.verifyOtpImageSection-1>div{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px;
}
.verifyOtpImageSection-1>div>p{
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1%;
}
.verifyOtpImageSection-1>div>img{
    width: 100%;
    height: 280px;
}
.verifyOtpDetailsSection{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgb(236, 232, 232);
    border-left: none !important;
    display: grid;
    grid-template-rows: 8% 95%;
  
    padding: 15px;

}
.verifyOtpDetailsSection-section1{
    width: 100%;
    display: grid;
    place-items: center;
}
.verifyOtpDetailsSection-section1>h2>span{
color: #28D146;
}
.verifyOtpDetailsSection-section2{
   display: flex;
   flex-direction: column;
   gap: 18px;
}
.verifyOtpDetailsSection-section2-item1{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.verifyOtpDetailsSection-section2-item1>h3{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
}
.verifyOtpDetailsSection-section2-item1>p{
    font-size: 12px;
    font-family: 'Poppins';
}
.verifyOtpDetailsSection-section2 >form{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 12px;
}
.verifyOtpDetailsSection-section2 >form div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.verifyOtpDetailsSection-section2 >form div>label{
    font-size: 14px;
    font-family: 'Poppins';
    color: #4D5959;
}
.verifyOtpDetailsSection-section2 >form div>input{
    width: 50px;
    height: 50px;
    padding: 12px;
    background-color: #FFFFFF;
    border: 1.6px solid #DDDDDD;
    border-radius: 20px;
    color: #838383;
    letter-spacing: 0%;
    line-height: 100%;
    font-family: 'Poppins';
}
.iamnotarobot{
    height: 50px !important;
    border: 0.2px solid #D3D3D3;
    background-color: #F9F9F9;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px #5a5a5a14 !important;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.iamnotarobot>div{
    display: flex;
    flex-direction: row !important;
    gap: 2px !important;
    align-items: center !important;
}
.iamnotarobot>div>p{
    font-size: 12px;
    font-weight: 500;
}
.termsConditions{
display: flex;
flex-direction: row !important;
gap: 3px !important;
align-items: center;
}
.termsConditions >p{
    font-size: 14px;
}
.custom-checkbox{
    color: #ada7a7 !important;
 
}
.verifyOtpDetailsSection-section2 >form .resendButton{
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}
.verifyOtpDetailsSection-section2 >form .verifyButton{
    text-transform: capitalize;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    background-color: #3FAA54;
    margin-top: 15px;
}
.google-signup{
   height: 60px !important;
   border: 0.5px solid #D2D2D2;
   display: flex !important;
   flex-direction: row !important;
   border-radius: 6px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.google-signup>img{
    height: 140px;
}
.google-signup>p{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
}
.terms-privacy{
    display: flex !important;
    flex-direction: row !important;
align-items: center !important;
justify-content: center !important;
gap: 25px;
font-size: 12px;
font-weight: 400;
}
.terms-privacy>a{
    text-decoration: none;
}
.verifyOtpFooter{
    
    text-align: center;
    font-size: 14px;
    margin-bottom: 12px;
    font-family: 'Poppins' !important;
}
.verifyOtpFooter>p>span{
    font-size: 18px;
}
form .otpInputs{
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 25px !important;
   
}