/* .resetpasswordSuccessMainContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: grid;
    place-items: center;
} */
.resetpasswordSuccessContainer{
    width: 100vw;
    height: 99vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-family: 'Poppins';
}
.resetpasswordSuccessImageSection{
    width: 100%;
    height: 100%;
    background:linear-gradient(#2EBF91,#8360C3);
    display: grid;
    place-items: center;

}
.resetpasswordSuccessImageSection-1{
    width: 80%;
    height: 90%;
    background-color: rebeccapurple;
    border-radius: 5px;
    background-color: #37697A;
   display: grid;
   place-items: center;
}
.resetpasswordSuccessImageSection-1>div{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px;
}
.resetpasswordSuccessImageSection-1>div>p{
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1%;
}
.resetpasswordSuccessImageSection-1>div>img{
    width: 100%;
    height: 280px;
}
.resetpasswordSuccessDetailsSection{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgb(236, 232, 232);
    border-left: none !important;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;

}
.resetpasswordSuccessDetailsSection-section1{
    width: 100%;
    margin-top: 36px;
    display: grid;
    place-items: center;
}
.resetpasswordSuccessDetailsSection-section1>h2{
    font-size: 36px;
}
.resetpasswordSuccessDetailsSection-section1>h2>span{
color: #28D146;
}
.resetpasswordSuccessDetailsSection-section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.resetpasswordSuccessDetailsSection-section3{
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.resetpasswordSuccessDetailsSection-section2 .CircularSuccessIcon{
    font-size: 100px;
  
}

.terms-privacy{
    display: flex !important;
    flex-direction: row !important;
align-items: center !important;
justify-content: center !important;
gap: 25px;
font-size: 12px;
font-weight: 400;
}
.terms-privacy>a{
    text-decoration: none;
}
.resetpasswordSuccessFooter{
    
    text-align: center;
    font-size: 14px;
    margin-bottom: 12px;
    font-family: 'Poppins' !important;
}
.resetpasswordSuccessFooter>p>span{
    font-size: 18px;
}