.changePasswordMainContainer{
    width: 96%;
    margin-left: 25px;
    height: auto;
box-shadow: 0 0 5px 0 black;    
border-radius: 8px;
padding: 20px;
display: flex;
flex-direction: column;
gap: 12px;
}
.changePasswordMainContainer label{
    font: 400 14px 'Poppins';
    color: #2C2C2C;
}
.changePasswordMainContainer input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #DADADA;
    font: 400 14px 'Poppins';
    color: #AEAEAE;
    padding: 8px;
}
.changePassword-first-section{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.changePassword-first-section>h3{
    font: 600 22px 'Poppins';
    color: #16404D;
}
.changePassword-first-section>p{
    font: 400 16px 'Poppins';
    color: #797D8C;
}
.changePassword-second-section{
    width: 100%;
    background-color: #F6F9FF;
    height: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.changePassword-second-section-1{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.changePassword-second-section-2{
   width: 100%;
   display: flex;
   align-items: center;
   gap: 12px;
}

.changePassword-second-section-2 .changePasswordButton{
    background-color: #3FAA54;
    border-radius: 5px;
    text-transform: capitalize;
    font: 500 13px 'Poppins';
    color: #FFFFFF;
}

.changePassword-second-section-2 .changePasswordCancel{
    border: 1px solid #E2DFDF;
    border-radius: 5px;
    text-transform: capitalize;
    font: 500 13px 'Poppins';
    color: #AEAEAE;
}